<html><body>
    <h1>Hello {{name}}!</h1>
    <h2>You are {{age}} years old!</h2>
    <p>Your major is {{major}}</p>
    <h3>The majors available are:

    <ul>
    {% for x in majors %}
    
    <li>{{x}}</li>
    
    {% endfor %}
    </ul> 
    </h3>
    
    <ul>
        <li> item one</li>
        <li> item two</li>
    </ul>

    <p>This is my first <strong>html</strong> web app!</p>
    <div>
    <a href=https://www.theraleighregister.com/barraks-secret-files.html>My Secret Files</a>
    </div>

    
    <form action="" methods="get"
        
        <label for="username">Username:</label>
        <input type="text" name"username" id=""> 
        <br>

        <label for="pwd">Password:</label>
        <input type="password" name"pwd" id=""> 
        <br>

        <input type="submit" value="send"></form>
    
    
    </form>




    
    </body></html>

    